.profile-page {
  flex: 1;
  color: var(--text-clr);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 70px;
}

.profile-page h2 {
  font-size: 2.5rem;
}

.profile-page span {
  font-weight: bold;
}

.profile-pic {
  aspect-ratio: 1 / 1;
  max-width: 15dvw;
}