.modal {
  margin: auto;
  border: none;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  background-color: var(--bg-clr);
  overflow-x: hidden;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 66%);
}

.modal header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.modal header h2 {
  font-family: var(--title-font);
  font-size: 1.5rem;
  color: var(--text-clr);
}

.modal header button {
  min-width: 40px;
  aspect-ratio: 1 / 1;
  justify-self: end;
  padding: 5px;
  background: none;
  border: none;
  flex-shrink: 0;
  
  svg {
    fill: var(--strong-text-clr);
  }
}