@font-face {
  font-family: 'Ranade';
  font-style: normal;
  font-weight: 100;
  src: local('Ranade Thin'), url('../assets/fonts/Ranade-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Ranade';
  font-style: italic;
  font-weight: 100;
  src: local('Ranade Thin Italic'), url('../assets/fonts/Ranade-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Ranade';
  font-style: normal;
  font-weight: 300;
  src: local('Ranade Light'), url('../assets/fonts/Ranade-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Ranade';
  font-style: italic;
  font-weight: 300;
  src: local('Ranade Light Italic'), url('../assets/fonts/Ranade-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Ranade';
  font-style: normal;
  font-weight: 400;
  src: local('Ranade Regular'), url('../assets/fonts/Ranade-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Ranade';
  font-style: italic;
  font-weight: 400;
  src: local('Ranade Italic'), url('../assets/fonts/Ranade-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Ranade';
  font-style: normal;
  font-weight: 500;
  src: local('Ranade Medium'), url('../assets/fonts/Ranade-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Ranade';
  font-style: italic;
  font-weight: 500;
  src: local('Ranade Medium Italic'), url('../assets/fonts/Ranade-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Ranade';
  font-style: normal;
  font-weight: 700;
  src: local('Ranade Bold'), url('../assets/fonts/Ranade-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Ranade';
  font-style: italic;
  font-weight: 700;
  src: local('Ranade Bold Italic'), url('../assets/fonts/Ranade-BoldItalic.woff2') format('woff2');
}
