.search-bar {
  width: 100%;
  justify-self: center;
  position: relative;
  color: var(--text-clr);
}

.search-results {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  background-color: var(--search-bar-clr);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  max-height: 270px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--text-clr) var(--search-bar-clr);
}

.search-results li {
  padding: 8px;
  display: flex;
  align-items: center;
}

.search-item {
  gap: 7px;

  &:hover {
    cursor: pointer;
    background-color: var(--search-bar-hover-clr);
  }
}

.search-item svg {
  fill: var(--search-bar-dark-clr);
}