.nav-bar {
  background-color: var(--bg-clr);
  padding: 10px 30px;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  /* border-bottom: 2px solid var(--main-clr); */

  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-buttons {
  justify-self: start;
  display: flex;
  align-items: center;

  & a {
    margin: 0;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-clr);
    font-weight: bold;
    font-family: var(--title-font);
  }
}

.nav-buttons:last-of-type {
  justify-self: end;
  gap: 20px;
}