.home {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0;

  & * {
    color: var(--text-clr);
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 13fr 1fr;
  gap: 30px;
  flex-grow: 1;
  width: 100%;
}

main > ul {
  align-self: center;
}