.home {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0;

  & * {
    color: var(--text-clr);
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  max-width: 85dvw;
}