.modal {
  align-self: center;
  justify-self: center;
  padding: 15px;
  border: none;
}

.modal[open] {
  display: flex;
  flex-direction: column;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 50%);
}

.modal header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.modal header button {
  width: fit-content;
  justify-self: end;
  padding: 0 5px;
}