.tooltip-wrapper {
  position: relative;
  display: inline-flex;
}

.tooltip {
  position: absolute;
  bottom: calc(100% + 8px); /* 8px de separación del ícono */
  left: 50%;
  transform: translateX(-50%);
  
  background: var(--purple-contrast);
  color: var(--text-clr);
  font-size: 0.85rem;
  padding: 6px;
  border-radius: 4px;
  max-width: 200px;
  
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 200;
}

.tooltip--nowrap {
  white-space: nowrap;
  width: max-content;
}

/* Flecha */
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top-color: var(--purple-contrast);
}

.tooltip-wrapper:hover .tooltip {
  opacity: 1;
}