/* CSS VARIABLES */

:root {
  --font-family: "Ranade", sans-serif;
  
  /* PRIMITIVE COLORS */
  --color-purple-dark: rgb(26, 9, 51);
  --color-purple-strong: rgb(46, 27, 82);
  --color-purple-normal: rgba(111,66,193,1);
  --color-purple-normal-transparent: rgba(111,66,193,.5);
  --color-white: rgb(255, 255, 255);
  --color-white-darker:  color-mix(in srgb, var(--color-white) 90%, black);

  /* SEMANTIC TOKENS */
  --background-clr: var(--color-purple-dark);
  --main-clr: var(--color-purple-normal);
  --main-stronger-clr: var(--color-purple-strong);
  --main-transparent-clr: var(--color-purple-normal-transparent);
  --font-main-clr: var(--color-white);
  --dropdown-clr: var(--color-white);
  --dropdown-hover-clr: var(--color-white-darker);
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  all: unset;
  cursor: pointer;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* START OF CUSTOM STYLES */

* {
  font-family: var(--font-family);
}

.disabled-div {
  pointer-events: none;
  opacity: 0.5;
  color: #999;
  cursor: not-allowed;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-clr);
}

.primary-content {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;

  & * {
    color: var(--font-main-clr);
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  max-width: 1500px;
}