.search-results {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  background-color: var(--search-bar-clr);
  padding: 8px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 0.85rem;
}