.search-form {
  width: 100%;
  justify-self: center;
  position: relative;
}

.search-form input {
  padding: 8px;
  border: none;
  font-size: 1em;
  width: 100%;

  &:focus, &:hover {
    outline: 3px solid var(--bg-clr);
  }
}