.search-form {
  height: 75%;
  width: 100%;
  justify-self: center;
  display: flex;
  gap: 10px;
  position: relative;

  & input {
    flex-grow: 8;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;

    &:focus, &:hover {
      outline: 3px solid var(--background-clr);
    }
  }
}