.search-form {
  height: 75%;
  width: 100%;
  justify-self: center;
  display: flex;
  gap: 10px;
  position: relative;

  & input {
    flex-grow: 8;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;

    &:focus, &:hover {
      outline: 3px solid var(--background-clr);
    }
  }
}

.search-button {
  background-color: var(--secondary-clr);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 0.5rem;

  &:hover {
    cursor: pointer;
    background-color: rgb(228, 104, 195);
  }
}

.dropdown-list {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 0;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 0.85rem;
}

.dropdown-item {
  padding: 3px;

  &:hover {
    cursor: pointer;
    background-color: rgb(206, 206, 206);
  }
}