.paginator {
  display: flex;
  gap: 5px;

  * {
    font-size: 1rem;
  }
}

.active {
  background-color: var(--main-clr);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.navigation {
  width: 100%;
  font-size: 4rem;
  color: transparent;

  &:hover {
    color: var(--text-clr);
  }
}