.watchers-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  row-gap: 6px;
  column-gap: 8px;
}

.watchers-list > header {
  grid-column: span 2;
}

.watchers-list-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.watchers-list-item img {
  aspect-ratio: 1 / 1;
  width: 30px;
  flex-shrink: 0;
}

.watchers-list-item p {
  flex-grow: 1;
}

.watchers-list-item span {
  font-weight: 900;
  text-decoration: underline dotted;
}