.movie-card {
  background-size: cover;
  background-position: center;
  background-color: var(--main-strong-clr);
  aspect-ratio: 273 / 409;
  max-width: 250px;
  position: relative;
  overflow: hidden;
  transition: scale 0.15s ease-out;

  &:hover {
    scale: 1.08;
    cursor: pointer;
  }

  &:hover .movie-info {
    opacity: 1;
  }
}

.watched-movie {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 13%;
  aspect-ratio: 1/1;
  background-image: url('../../assets/icons/check_circle.svg');
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}